.DS_Store
.idea/
.vscode/

# Java
target/
*.class
*.log
backend/data/

# Node
node_modules/
dist/
.vite/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Env
.env
.env.*
!.env.example
